PROJECT_NAME="API Test and Automation Engine"
ENVIRONMENT="development"
DEBUG=True

# Database Configuration
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=qr_automation

# SQLAlchemy Async Connection URL
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/qr_automation

# CORS
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000","http://localhost"]
